[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "~=1.0.1"
django = "~=5.1.4"
py-cord = "~=2.6.0"
django-extensions = "~=3.2.3"
django-rename-app = "~=0.1.7"
django-tables2 = "2.7.0"
django-computedfields = "~=0.2.6"
django-admin-list-filter-dropdown = "~=1.0.3"
configparser = "~=7.1.0"
squareup = "~=38.0.0.20240821"
psycopg2-binary = "~=2.9.9"
gunicorn = "~=23.0.0"
requests = "~=2.32.3"
beautifulsoup4 = "~=4.12.3"
django-more-admin-filters = "*"
tqdm = "*"
djangorestframework = "*"
drf-spectacular = "0.27.2" # need to manually keep track of this dep and keep up to date as minors may have breaking changes for our usecase - see https://drf-spectacular.readthedocs.io/en/latest/readme.html#release-management
django-vite = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"
async-timeout = "*"
django-allauth = "*"

[dev-packages]
