asgiref~=3.8.1
Django~=5.0.6
django-tables2~=2.7.0
psycopg2-binary~=2.9.9
python-dotenv~=1.0.1
sqlparse~=0.5.0
squareup==22.0.0.20220921
configparser
aiofiles
django_rename_app==0.1.7
django_extensions==3.2.3