{% extends "email/base.html" %}
{% comment %}
Sent when someone starts a self-service registration, from the web form or the Discord bot.
Context: registration_url, expires_at, request_url.
{% endcomment %}

{% block subject %}Create your {{ org.name }} account{% endblock %}

{% block preheader %}Finish setting up your {{ org.name }} account - this link expires in a day.{% endblock %}

{% block footer_reason %}You received this email because someone used your Net ID to start creating an account on {{ org.name }}'s Club Manager.{% endblock %}

{% block content %}
  <h1>Create your account</h1>

  <p>Hey there! You're one step away from a {{ org.name }} account. Use the button below to choose a password and finish setting it up.</p>

  {% include "email/_button.html" with href=registration_url label="Create account" %}

  <p>This link expires on {{ expires_at }}. If it has already run out, <a href="{{ request_url }}">request a new one</a>.</p>

  <p class="fine">If this was not you, you can ignore this message - no account is created until the link above is used.</p>
{% endblock %}
