[Unit]
Description=Discord bot for Comet Robotics

[Service]
User=root
WorkingDirectory=/root/clubManager
ExecStart=pipenv --python /root/.pyenv/shims/python run python discord_bot.py

[Install]
WantedBy=multi-user.target