[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=comet
WorkingDirectory=/root/clubManager
ExecStart=pipenv --python /usr/bin/python3.11 run gunicorn --bind unix:/run/gunicorn.sock clubManager.wsgi --access-logfile - --workers 3

[Install]
WantedBy=multi-user.target