{% extends "newBase.html" %}
{% load static %}
{% block title %}Members{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
<main class="main-content">
  <section class="section">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h2 class="section-title">Members</h2>
    </div>
    {% for table in tables %}
      <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3 class="section-title">{{table.table_name}}</h3>
          <a href="{% url 'create_event_view' %}" class="button button-primary">TODO: Add Member</a>
      </div>
      {% render_table table %}
    {% endfor %}
   </section>
</main>
{%endblock%}