{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'core/styles.css' %}">
        <title>{% block title %}Portal{% endblock %} | {{settings.organization_name}}</title>
        <style>
            :root {
                --primary: {{settings.accent_color_hex}};
            }
        </style>
        <!-- Lucide Icons -->
        <script src="https://unpkg.com/lucide@0.475.0"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="header-left">
                <div class="logo-container">
                  {%if settings.logo%}  
                  <img src="{{settings.logo.url}}" alt="Logo" class="logo">
                  {%endif%}
                </div>
                <div class="header-separator"></div>
                <h1>{{settings.organization_name}}</h1>
            </div>
        </header>
        <div class="app">
            <div class="main-container">
                {% block content %}{% endblock %}
            </div>
        </div>
        <script>
            // Initialize Lucide icons
            lucide.createIcons();
        </script>
    </body>
</html>
