{% load django_vite %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
    {% vite_hmr_client %}
    {% vite_asset 'src/main.tsx' %}
    {% vite_react_refresh %}
  </head>
  <body>
    <div id="root">
      {%if DEBUG%}
      <p>If you're seeing this, the SPA has not mounted yet. If you're seeing this, make sure you are running the Vite dev server.</p>
      {%endif%}
    </div>
  </body>
</html>
